@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    margin: 0px !important;
    font-family: "Roboto Slab", serif !important;
}

.header {
    background-color: #EF8A3F;
    padding-bottom: 15px;
}

.title {
    text-align: center;
    padding: 10px;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
}

.roboto-slab-font {
    font-family: "Roboto Slab", serif;
    font-weight: 900;
    font-style: normal;
}

.menu ul {
    text-align: center;
    padding-inline-start: 0px !important;
}

.menu ul li {
    display: inline;
    padding: 10px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto Slab", serif;
}

.menu ul li a {
    text-decoration: none;
    color: black;
}

.banner {
    position: relative;
    text-align: center;
    background-color: #ffd8a0;
    width: 100%;
    height: auto;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Roboto Slab", serif;
    color: #000;
}

.centered button {
    outline: 0px;
    border: 2px solid #fff;
    background-color: #EF8A3F;
    color: #fff;
    margin-top: 10px;
    font-size: 15px;
    padding: 8px;
}

.banner img {
    width: 100%;
    height: 600px;
    max-height: 800px;
}

.banner h1 {
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style:normal;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.flex-container {
    display: flex;
    flex-direction: row;
    font-family: "Roboto Slab", serif;
}

.box {
    flex: 2;
    padding: 30px;
}

.box>img {
    width: 100%;
    height: auto;
}

.color {
    background-color: #ffd8a0;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.box a {
    animation: blink 1s infinite;
    color: #000;
}
footer
{
    background-color: #000;
}
footer p 
{
    text-align: center;
    color: #fff;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding: 25px;
}